/*@font-face {*/
/*  font-family: "Helvetica Thin";*/
/*  src: url("_UI/assets/fonts/helvetica/HelveticaNeue Thin.ttf") format("truetype");*/
/*}*/

/*@font-face {*/
/*  font-family: "Helvetica Light";*/
/*  src: url("_UI/assets/fonts/helvetica/HelveticaNeue Light.ttf") format("truetype");*/
/*  font-weight: 300;*/
/*}*/

/*@font-face {*/
/*    font-family: "Helvetica Reg";*/
/*  src: url("_UI/assets/fonts/helvetica/HelveticaNeue Medium.ttf") format("truetype");*/
/*  font-weight: 400;*/
/*}*/

/*@font-face {*/
/*  font-family: "Helvetica Bold";*/
/*  src: url("_UI/assets/fonts/helvetica/Helvetica Neu Bold.ttf") format("truetype");*/
/*  font-weight: 600;*/
/*}*/

/*@font-face {*/
/*  font-family: "Helvetica Bolder";*/
/*  src: url("_UI/assets/fonts/helvetica/HelveticaNeueBd.ttf") format("truetype");*/
/*  font-weight: 900;*/
/*}*/

@font-face {
  font-family: "Helvetica Thin";
  src:
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Thin.woff2") format("woff2"),
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Thin.woff") format("woff"),
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica Light";
  src:
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Light.woff2") format("woff2"),
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Light.woff") format("woff"),
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica Reg";
  src:
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Regular.woff2") format("woff2"),
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Regular.woff") format("woff"),
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica ExtraReg";
  src:
    url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Bold.woff2") format("woff2"),
    url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Bold.woff") format("woff"),
    url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Helvetica Bold";
  src:
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-ExtraBold.woff2") format("woff2"),
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-ExtraBold.woff") format("woff"),
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Helvetica Bolder";
  src:
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Black.woff2") format("woff2"),
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Black.woff") format("woff"),
          url("_UI/assets/fonts/helvetica_neue/HelveticaNowDisplay-Black.ttf") format("truetype");
  font-weight: 900;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-width: 1280px;
}

.App {
  min-width: 1280px;
}

.track-vertical {
  top: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 3px;
}

.thumb-vertical {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.2);
}

.form-control {
  outline: none !important;
  width: 80px !important;
  border-radius: 4px !important;
  border: 1px solid #BDBDBD !important;
  height: 40px;
}
.form-control:disabled {
  background-color: rgba(0,0,0,.4) !important;
  cursor: not-allowed !important;
}
.form-control::placeholder {
  transition: .3s !important;
  opacity: 1 !important;
}
.form-control:focus::placeholder {
  transition: .3s !important;
  opacity: 0 !important;
}

/*manual tracking*/
.time_picker {
  outline: none !important;
  width: 80px !important;
  border-radius: 4px !important;
  border: 1px solid #BDBDBD !important;
  height: 40px;
}